- name: Get Docker Packets
  become: true
  ansible.builtin.apt:
    update_cache: yes
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present

- name: Move key to GPG
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add docker repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    update_cache: yes

- name: Install Docker CE
  become: true
  ansible.builtin.apt:
    name: docker-ce
    state: present

- name: Test docker is up and running
  become: true
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Asigură-te că pip este instalat
  become: true
  package:
    name: python3-pip
    state: present

- name: Instalează biblioteca Kubernetes pentru Python
  become: yes
  pip:
    name: kubernetes
    executable: pip3
