- name: Get Docker Packets
  become: true
  ansible.builtin.apt:
    update_cache: yes
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present

- name: Move key to GPG
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add docker repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    update_cache: yes

- name: Install Docker CE
  become: true
  ansible.builtin.apt:
    name: docker-ce
    state: present

- name: Test docker is up and running
  become: true
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Descarcă crictl
  become: yes
  get_url:
    url: "https://github.com/kubernetes-sigs/cri-tools/releases/download/v{{ CRICTL_VERSION }}/crictl-v{{ CRICTL_VERSION }}-linux-amd64.tar.gz"
    dest: "/tmp/crictl-v{{ CRICTL_VERSION }}-linux-amd64.tar.gz"
    mode: '0664'
  vars:
    CRICTL_VERSION: "1.25.0"

- name: Extrage crictl din arhivă
  become: yes
  unarchive:
    src: "/tmp/crictl-v{{ CRICTL_VERSION }}-linux-amd64.tar.gz"
    dest: "/usr/local/bin"
    remote_src: yes
    extra_opts: [--strip-components=1]
    creates: "/usr/local/bin/crictl"

- name: Verifică versiunea crictl
  become: yes
  command: crictl --version
  register: crictl_version
  changed_when: false

- name: Afișează versiunea crictl
  become: yes
  debug:
    var: crictl_version.stdout

- name: Instalează dependențele Minikube
  become: true
  apt:
    name:
      - conntrack

- name: Descarcă Minikube
  become: true
  get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    dest: /usr/local/bin/minikube
    mode: '0755'

- name: Asigură permisiuni de execuție pentru Minikube
  become: true
  file:
    path: /usr/local/bin/minikube
    mode: '0755'

- name: Inițiază Minikube
  become: true
  command: minikube start --vm-driver=none
  environment:
    MINIKUBE_WANTUPDATENOTIFICATION: "false"
    MINIKUBE_WANTREPORTERRORPROMPT: "false"
    MINIKUBE_HOME: /home/ubuntu
    CHANGE_MINIKUBE_NONE_USER: "true"
    KUBECONFIG: /home/ubuntu/.kube/config

- name: Verifică starea Minikube
  become: true
  command: minikube status
  register: minikube_status
  changed_when: false

- name: Afișează starea Minikube
  become: true
  debug:
    var: minikube_status.stdout
