---
- name: Clonează repositoriul NextJS de pe un branch specific
  git:
    repo: 'https://{{ github_username }}:{{ github_token }}@github.com/dariusbrinzan/Licenta.git'
    dest: '/home/ubuntu/Licenta'
    version: '{{ nextjs_repo_branch }}'
    clone: yes
    update: yes

- name: Clonează repositoriul NextJS Config de pe un branch specific
  git:
    repo: 'https://{{ github_username }}:{{ github_token }}@github.com/dariusbrinzan/License_Config.git'
    dest: '/home/ubuntu/Config'
    version: '{{ config_repo_branch }}'
    clone: yes
    update: yes

- name: Verifică dacă imaginea Docker există
  shell: docker images -q nextjs_license:latest
  register: docker_image_check
  become: true

- name: Construiește imaginea Docker folosind Dockerfile din directorul Licenta
  shell: docker build -t nextjs_license .
  args:
    chdir: /home/ubuntu/Licenta
  become: true
  when: docker_image_check.stdout == ""

- name: Verifică dacă imaginea Docker a fost creată
  shell: docker images -q nextjs_license:latest
  register: docker_image_check
  failed_when: docker_image_check.stdout == ""
  become: true

- name: Desfășurare aplicație Next.js în Minikube
  become: true
  ansible.builtin.command:
    cmd: kubectl apply -f "/home/ubuntu/Config/K8s/deployment.yaml"
  register: deployment_result

- name: Afișează rezultatul desfășurării
  ansible.builtin.debug:
    var: deployment_result.stdout_lines
